* {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 13px;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
	background: #edeef0;
}

a {
	text-decoration: none;
	color: #2a5885;
}

ul {
	list-style: none;
}

input:focus {
	outline: none;
}

.container-inner {
	width: 990px;
}

.container-inner_vertical-center {
	margin: 0 auto;
}

.container-inner_center {
	margin: auto;
}

.header {
	background: #507299;
}

.header__inner {
	height: 42px;
	display: flex;
	flex-direction: row;
}

.logo {
	display: inline-block;
	margin: 11px 132px 11px 0;
}

.search {
	width: 230px;
	height: 28px;
	border-radius: 14px;
	margin: 7px 0;
	padding: 6px 6px 6px 30px;
	color: #d9e2ec;
	background-color: #305075;
	background-position: 10px center;
	background-repeat: no-repeat;
	background-image: url(../images/search.png);
}

.search:focus {
	background-color: #fff;
	color: #000;
}

.button-switch-lang {
	display: block;
	margin: auto 0 auto auto;
	padding: 0 10px;
	color: #fff;
	font-weight: bold;
	line-height: 42px;
}

.button-switch-lang:hover {
	background: #486991;
}

.content {
	display: flex;
	justify-content: space-between;
}

.login-mobile-apps {
	width: 500px;
	text-align: center;
}

.login-mobile-apps__tilte {
	margin-bottom: 12px;
	color: #000;
	font-size: 22px;
	font-weight: 400;
}

.login-mobile-apps__description {
	color: #222;
	line-height: 23px;
}

.login-mobile-apps__devices {
	height: 500px;
	margin-top: 34px;
	position: relative;
}

.login-mobile-apps__device {
	display: inline-block;
	position: absolute;
}

.login-mobile-apps__device-img {
	display: block;
}

.login-mobile-apps__device_android {
	left: 0;
	z-index: 1;
}

.login-mobile-apps__device_ios {
	z-index: 2;
	top: -13px;
	left: 50%;
	transform: translateX(-50%);
}

.login-mobile-apps__device_wp {
	z-index: 1;
	right: 0;
}

.login-mobile-apps__button {
	display: inline-block;
	margin-top: 20px;
	padding: 10px;
}

.login-mobile-apps__device_ios .login-mobile-apps__button {
	margin-top: 8px;
}

.login-mobile-apps__button:hover {
	background: #e1e5eb;
}

.login-mobile-apps__button:before {
	content: "";
	display: inline-block;
	margin-bottom: -5px;
	width: 18px;
	height: 21px;
	margin-right: 7px;
}

.login-mobile-apps__button_android:before {
	background: url(../images/platforms.png) 0 -22px;
}

.login-mobile-apps__button_ios:before {
	background: url(../images/platforms.png);
}

.login-mobile-apps__button_wp:before {
	background: url(../images/platforms.png) 0 -44px;
}

.form-block {
	width: 320px;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	background: #fff;
}

.form-block_enter {
	padding: 25px;
}

.form-block__inner {
	padding: 25px;
}

.form-block_reg {
	margin-top: 30px;
	position: relative;
}

.form-block__title {
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	color: #2b2f33;
}

.form-block__desc {
	padding: 5px 0 21px;
	text-align: center;
	color: #656565;
	font-size: 12.5px;
}

.form-block__input {
	margin-bottom: 15px;
	width: 270px;
	font-size: 14px;
	padding: 6px 12px 8px;
	height: 35px;
	border-radius: 3px;
	border: 1px solid #d3d9de;
	color: #000;
}

.form-block__input_error {
	animation: open-error 1s;
}

@keyframes open-error {
	from {
		background: #fff;
	}
	33% {
		background: #FFDEDE;
	}
	to {
		background: #fff;
	}
}

.form-block__button {
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	border-radius: 3px;
	padding: 8px 16px;
	color: #fff;
}

.form-block__button_enter {
	margin-top: 5px;
	margin-right: 15px;
	width: 100px;
	background: #5e81a8;
}

.form-block__button_reg {
	width: 100%;
	margin-top: 17px;
	font-weight: 500;
	background: #5fb053;
}

.form-block__button_reg:hover {
	background: #68b35d;
}

.form-block__button_reg:active {
	background: #5aa84d;
}

.form-block__button_enter:hover {
	background-color: #6888ad;
}

.form-block__button_enter:active {
	background: #5779a1;
	padding-top: 8px;
}

.form-block__link:hover {
	text-decoration: underline;
}

.from-block__label {
	display: inline-block;
	margin: 0 0 10px 1px;
	font-weight: 500;
	color: #939393;
}

.from-block__label_sex {
	margin-top: 20px;
}

.button-info {
	display: inline-block;
	position: relative;
	width: 17px;
	height: 17px;
	transform: translateY(2px) translateX(5px);
	cursor: pointer;
	background: url(../images/button-info.png);
}

.button-info__text-window {
	display: none;
	opacity: 0;
	transition: opacity .3s;
	position: absolute;
	top: -10px;
	left: -28px;
	transform: translateY(-100%);
	width: 300px;
	border: 1px solid #c5d0db;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background: #fff;
}

.button-info__text-window_visible-block {
	display: inline-block;
}

.button-info__text-window_visible-opacity {
	opacity: 1;
}

.button-info__text {
	padding: 12px 14px 13px;
	line-height: 17px;
	position: relative;
}

.button-info__text:before,
.button-info__text:after {
	content: "";
	display: inline-block;
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	transform: translateY(100%);
}

.button-info__text:before {
	border-width: 6px 6px 0 6px;
	left: 30px;
	border-color: #c5d0db transparent transparent transparent;
}

.button-info__text:after {
	left: 31px;
	border-width: 5px 5px 0 5px;
	border-color: #fff transparent transparent transparent;
}

.form-block__date {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.select {
	position: relative;
	display: inline-block;
	height: 33px;
}

.select__value-wrapper {
	position: absolute;
	width: 100%;
}

.select__value {
	display: flex;
	justify-content: space-between;
	padding: 7px 0 7px 12px;
	border: 1px solid #d3d9de;
	cursor: default;
	border-radius: 3px;
	background: #fff;
}

.select__value_default {
	color: rgb(124, 127, 130);
}

.select__value:after {
	content: "";
	display: inline-block;
	width: 11px;
	margin: 0 7px;
	cursor: pointer;
	background: url(../images/dropdown_arrow.png) no-repeat 0 50%;
}

.select__list {
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translateY(100%);
	height: 250px;
	width: 100%;
	overflow: auto;
	border-radius: 0 0 1px 1px;
	border: 1px solid #c9d0d6;
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background: #fff;
}

.js-select__list_hidden {
	display: none;
}

.select__item {
	cursor: pointer;
	padding: 7px 0 9px 12px;
}

.select__item:hover {
	background: #e7edf2;
}

.sex-block-hidden {
	display: none;
}

.pick-sex {
	display: flex;
}

.pick-sex__radio {
	display: none;
}

.pick-sex__label {
	margin-right: 30px;
}

.pick-sex__label:before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 7px -2px 0;
	background: url(../images/dev_radio.png) 0 0 no-repeat;
}

.pick-sex__radio_man:checked ~ .pick-sex__label_man:before {
	background: url(../images/dev_radio.png) 0 -14px no-repeat;
}

.pick-sex__radio_woman:checked ~ .pick-sex__label_woman:before {
	background: url(../images/dev_radio.png) 0 -14px no-repeat;
}

.reg-link {
	display: block;
	padding: 15px 0;
	text-align: center;
	color: #2a5885;
	border-top: 1px solid #e7e8ec;
}

.reg-link:hover {
	text-decoration: underline;
}

.reg-link:before {
	content: "";
	display: inline-block;
	margin: -2px 12px 0 0;
	background: url(../images/attach_icons.png?3) no-repeat 0 -65px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.error-message {
	opacity: 0;
	position: absolute;
	top: 0;
	left: -310px;
	z-index: 1;
	width: 320px;
	padding: 16px 15px 17px;
	border-radius: 2px;
	border: 1px solid #ad4547;
	font-size: 12.5px;
	color: #fff;
	background: #ca635f;
}

.error-message:before {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 100%;
	border-style: solid;
	border-width: 6px 0 6px 6px;
	border-color: transparent transparent transparent #ad4547;
	transform: translateY(-50%);
}

.error-message:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 100%;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-color: transparent transparent transparent #ca635f;
	transform: translateY(-50%);
}

.error-message_first-name {
	opacity: 1;
	top: 70px;
}

.error-message_last-name {
	opacity: 1;
	top: 120px;
}

.error-message_birthday {
	opacity: 1;
	top: 200px;
}

.error-message_sex {
	opacity: 1;
	top: 290px;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 24px 15px 35px;
	border-top: 1px solid #e4e8ed;
}

.footer__about {
	color: #828282;
}

.footer__about-link:hover {
	text-decoration: underline;
}

.list {
	display: flex;
}

.list_vertical {
	flex-direction: row;
}

.list__item {
	color: #828282;
	padding: 2px 5px;
}

.list__link:hover {
	text-decoration: underline;
}